*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.debug{
  background-color: rgba(0, 255, 0, .25);
  border: 1px solid black;
}

.container{
  max-width: 1180px;
  width: 60%;
  margin: 0 auto;
  border: 1px dashed gray;
}

.link-button{
  text-decoration: none;
  color: black;
  padding: 10px 10px;
  background-color: white;
  border-radius: 20px;
  margin: 0 15px;
}

/* header */
header{
  height: 80px;
  background-color: #3161e0;
  display: flex;
  align-items: center;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header .logo{
  height: 25px;
  width: 90px;
  background-color: white;
  color: black;
}

header ul{
  display: flex;
  list-style: none;
}

header ul a{
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 12px;
  font-weight: 700;
}

header ul a:hover{
  text-decoration: underline;
}

header .top > .link-button{
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}

/* sezione con immagine di background */
main .background{
  background-image: url("../img/jumbo.png");
  min-height: 700px;
  background-size: contain;
  background-repeat: no-repeat;
}

.background .titolo{
  text-align: center;
}

.background .titolo h1,
.background .titolo{
  color: white;
}

.background .titolo h1{
  padding: 100px 0 20px 0;
  font-size: 50px;
  font-weight: 700;
}

.background .titolo p{
  display: inline-block;
  margin-bottom: 20px;
  max-width: 70%;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7rem;
  margin-bottom: 40px;
}

.background .titolo .download > a{
  font-size: 16px;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 30px;
}

.background .titolo .download .link-button.other{
  background-color: #23272a;
  color: white;
}

/* prima immagine a sinistra titolo e scritta a destra */
.first{
  display: flex;
  justify-content: space-between;
}

.first .img-left{
  /* dimensioni da eliminare */
  width: 250px;
  height: 200px;
  background-color: brown;
}

.first .wr-rigt{
  width: 250px;
  height: 200px;
}

/* seconda immagine a destra, titolo e scritta a sinistra */
.second{
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
}

.second .img2-right{
  /* dimensioni da eliminare */
  width: 250px;
  height: 200px;
  background-color: brown;
}

.second .wr2-left{
  width: 250px;
  height: 200px;
}

/* terza immagine a sinistra, titolo e scritta a destra */
.third{
  display: flex;
  justify-content: space-between;
}

.third .img3-left{
  /* dimensioni da eliminare */
  width: 250px;
  height: 200px;
  background-color: brown;
}

.third .wr3-rigt{
  width: 250px;
  height: 200px;
}

/* sezione prima del footer */
section.finale{
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finale .img-big{
  width: 500px;
  height: 300px;
  background-color: tomato;
  display: inline-block;
}

.finale p{
  display: block;
  max-width: 500px;
}

/* footer  */

footer{
  background-color: #23272a;
  color: white;
}

.container.footer-top{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gray;
}

.container.footer-top ul{
  list-style: none;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom .mini-logo{
  height: 30px;
  width: 100px;
  background-color: white;
  color: black;
}