*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  line-height: 1.6rem;
}

.debug{
  background-color: rgba(0, 255, 0, .25);
  border: 1px solid black;
}

.container{
  max-width: 1180px;
  width: 60%;
  margin: 0 auto;
  border: 1px dashed gray;
}

.link-button{
  text-decoration: none;
  color: black;
  padding: 0px 10px;
  background-color: white;
  border-radius: 20px;
  margin: 0 15px;
}

/* header */
header{
  height: 80px;
  background-color: #3161e0;
  display: flex;
  align-items: center;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header .logo{
  height: 25px;
  width: 90px;
  background-color: white;
  color: black;
}

header ul{
  display: flex;
  list-style: none;
}

header ul a{
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 12px;
  font-weight: 700;
}

header ul a:hover{
  text-decoration: underline;
}

header .top > .link-button{
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}

/* sezione con immagine di background */
main .background{
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  background-position: center;
}

.background .titolo{
  text-align: center;
}

.background .titolo h1,
.background .titolo{
  color: white;
}

.background .titolo h1{
  padding: 100px 0 20px 0;
  font-size: 50px;
  font-weight: 700;
}

.background .titolo p{
  display: inline-block;
  margin-bottom: 20px;
  max-width: 70%;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}

.background .titolo .download .link-button{
  font-size: 16px;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 30px;
}

.background .titolo .download .link-button.other{
  background-color: #23272a;
  color: white;
}

/* prima immagine a sinistra titolo e scritta a destra */
.first{
  display: flex;
  align-items: flex-start;
}

main .first img{
  max-height: 400px;
  padding: 40px;
}

main .first .wr-rigt{
  padding: 58px 0;
  min-width: 100px;
}

main .first .wr-rigt h2{
  font-size: 30px;
  margin-bottom: 30px;
  line-height: 2.5rem;
  font-weight: 700;
}

main .first .wr-rigt p{
  font-size: 14px;
}

/* seconda immagine a destra, titolo e scritta a sinistra */
.second{
  display: flex;
  justify-content: space-between;
}

main .second img{
  max-height: 400px;
  padding: 40px;
}

main .second .wr2-left{
  padding: 58px 0;
  min-width: 100px;
}

main .second .wr2-left h2{
  font-size: 30px;
  margin-bottom: 30px;
  line-height: 2.5rem;
  font-weight: 700;
}

main .second .wr2-left p{
  font-size: 14px;
}


/* terza immagine a sinistra, titolo e scritta a destra */
.third{
  display: flex;
  align-items: flex-start;
}

main .third img{
  max-height: 400px;
  padding: 40px;
}

main .third .wr3-rigt{
  padding: 50px 0;
  min-width: 100px;
}

main .third .wr3-rigt h2{
  font-size: 30px;
  margin-bottom: 30px;
  line-height: 2.5rem;
  font-weight: 700;
}

main .third .wr3-rigt p{
  font-size: 14px;
}

/* quarta immagine, big finale */
main .finale{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.finale .wr4-center{
  text-align: center;
}

.finale .bottom-element{
  text-align: center;
  margin-bottom: 20px;
}

.finale .bottom-element h4{
  background-image: url(../img/stars.svg);
  background-size: cover;
  margin-bottom: 10px;
}
.finale .bottom-element .link-button{
  background-color: #8ea1e1;
  color: white;
}

/* footer  */

footer{
  background-color: #23272a;
  color: #738adc;
  padding-top: 70px;
}

/* footer top */
.container.footer-top{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #738adc;
}

.footer-top .social{
  width: calc(100% / 3);
  padding-right: 20px;
  line-height: 2rem;
}

/* prima colonna */
.footer-top .social h4{
  font-size: 25px;
  margin-bottom: 20px;
}

.footer-top .social .language{
  color: white;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.footer-top .social .language img{
  height: 12px;
  padding-right: 2px;
}

.footer-top .social .mini-icon{
  color: white;
  letter-spacing: 0.5rem;
}

/* colonna link */
.footer-top .footer-link{
  width: calc(100% / 6);
}

.container.footer-top .footer-link ul{
  list-style: none;
}

.container.footer-top .footer-link a{
  text-decoration: none;
  color: white;
  font-size: 10px;
}

.footer-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom img{
  height: 20px;
}

.footer-bottom a{
  font-size: 10px;
  margin: 0;
}