*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.debug{
  background-color: rgba(0, 255, 0, .25);
  border: 1px solid black;
}

.container{
  max-width: 1180px;
  width: 60%;
  margin: 0 auto;
}

.link-button{
  text-decoration: none;
  color: black;
  padding: 10px 10px;
  background-color: white;
  border-radius: 20px;
  margin: 0 15px;
}

/* header */
header{
  height: 80px;
  background-color: #3161e0;
  display: flex;
  align-items: center;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header .logo{
  height: 25px;
  width: 90px;
  background-color: white;
  color: black;
}

header ul{
  display: flex;
  list-style: none;
}

header ul a{
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 12px;
  font-weight: 700;
}

header ul a:hover{
  text-decoration: underline;
}

header .top > .link-button{
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}

/* main */
section.first .container,
section.second .container,
section.third .container,
section.finale .container{
  display: flex;
}


.wave{
  display: block;
}

/* sezione con immagine di background */
main .background{
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  background-position: center;
}

.background .titolo{
  text-align: center;
}

.background .titolo h1,
.background .titolo{
  color: white;
}

.background .titolo h1{
  padding: 100px 0 20px 0;
  font-size: 50px;
  font-weight: 700;
}

.background .titolo p{
  display: inline-block;
  margin-bottom: 20px;
  max-width: 70%;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}

.background .titolo .download .link-button{
  font-size: 16px;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 30px;
}

.background .titolo .download .link-button.other{
  background-color: #23272a;
  color: white;
}

/* prima, seconda e terza immagine e scritte*/
.first .container img,
.second .container img,
.third .container img{
  width: 60%;
}

main .first .wr-rigt,
main .second .wr2-left,
main .third .wr3-rigt{
  padding: 20px 0;
  width: 40%;
}

main .first .wr-right h2,
main .second .wr2-left h2,
main .third .wr3-right h2{
  font-size: 30px;
  margin-bottom: 30px;
  line-height: 2.5rem;
  font-weight: 700;
}

main .first .wr-right p,
main .second .wr2-left p,
main .third .wr3-right p{
  font-size: 14px;
  line-height: 1.5rem;
}

/* seconda immagine a destra, titolo e scritta a sinistra */
.second{
  background-color: #f6f6f6;
}

/* terza immagine a sinistra, titolo e scritta a destra */
.third .wave:first-child{
  transform: rotate(180deg);
}

/* quarta immagine, big finale */
main .finale{
  background-color: #f6f6f6;
  padding-top: 20px;
}

main .finale .container .wr4-center h2{
  margin-bottom: 20px;
}

main .finale .container .wr4-center p{
  line-height: 1.5rem;
}

main .finale .container{
  flex-direction: column;
  align-items: center;
}
.finale .container img{
  text-align: center;
  width: 100%;
}

.finale .wr4-center{
  text-align: center;
}

.finale .bottom-element{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
}

.finale .bottom-element h4{
  background-image: url(../img/stars.svg);
  background-size: contain;
  font-size: 20px;
  display: inline-block;
  width: 100%;
  height: 50px;
  text-align: center;
}

.finale .bottom-element .link-button{
  background-color: #8ea1e1;
  color: white;
  padding: 15px 20px;
  border-radius: 30px;
}

/* footer  */
footer{
  background-color: #23272a;
  color: #738adc;
  padding: 50px 0;
}

/* footer top */
.container.footer-top{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #738adc;
}

.footer-top .social{
  width: calc(100% / 3);
  padding-right: 20px;
  line-height: 2rem;
}

/* prima colonna */
.footer-top .social h4{
  font-size: 25px;
  margin-bottom: 20px;
}

.footer-top .social .language{
  color: white;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.footer-top .social .language img{
  height: 12px;
  padding-right: 2px;
}

.footer-top .social .mini-icon{
  color: white;
  letter-spacing: 0.5rem;
}

.footer-top .social .mini-icon a{
  text-decoration: none;
  color: white;
}

/* colonna link */
.footer-top .footer-link{
  width: calc(100% / 6);
}

.container.footer-top .footer-link ul{
  list-style: none;
}

.container.footer-top .footer-link a{
  text-decoration: none;
  color: white;
  font-size: 10px;
}

.container.footer-top .footer-link a:hover{
  text-decoration: underline;
}

/* footer bottom con logo */
.footer-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.footer-bottom img{
  height: 20px;
}

.footer-bottom a{
  font-size: 10px;
  padding: 1;
  margin: 0;
  color: white;
  background-color: #738adc;
}